
<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static './landingJs.js' %}" defer></script>
    <script src="{% static './main.js' %}" defer></script>

    <link rel="icon" href="{% static './images/logo.png' %}">
    <link rel="stylesheet" href="{% static './landingCss.css' %}">
    <link rel="stylesheet" href="{% static './landingMedia.css' %}">
    <link rel="stylesheet" href="{% static './dashboard.css' %}">
    <link rel="stylesheet" href="{% static './media.css' %}">
    <link rel="stylesheet" href="{% static './font-awesome/css/font-awesome.min.css' %}">

    <title>Great Broker</title>

</head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

<!-- <script src="./static/main.js"></script> -->

</html>